.cart-main-section{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 2rem;
    margin: 8rem 0 3rem 3rem;
    justify-content: space-between;
}


/* cart-main-section */
.cart-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}
.cart-header>h1{
    font-size: 2.5rem;
}

.remove-all{
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}
.remove-all:hover{
    background: var(--primary-clr-hover);
    color: var(--primary-clr);
}


/* horizontal-card */
.cart-card-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card:hover{
    box-shadow: none;
}

.card-horizontal{
    width: 100%;
    display: flex;
    border-bottom: none;
    position: relative;
}

.card-info{
    margin-left: 2rem;
}

.card-buttons{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}
.remove-btn, .later-btn{
    margin: 2rem 2rem 1rem;
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}
.remove-btn>button:hover{
    background: var(--primary-clr-hover);
    color: var(--primary-clr);
}

.later-btn{
    color: var(--primary-clr);
    background: var(--primary-bg)
}
.later-btn:hover{
    background: var(--primary-clr-hover);
    color: var(--primary-clr);
}


/* cart-card-section */
.cart-left-section{
    margin-left: 3rem;
    position: relative;
    width: 900px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.cart-left-section::-webkit-scrollbar {
    display: none;
}

/* cart-navbar */
.cart-navbar{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    padding-left: 1.5rem;
    border-left: 1px solid var(--primary-clr-hover);
}

.coupon{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.coupon>button{
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}
.coupon>button:hover{
    background: var(--primary-clr-hover);
    color: var(--primary-clr);
}

.price-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid var(--primary-clr-hover);
}

.price-details-categories>li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.8rem;
}
.price-details-categories>li>p{
    color: var(--primary-clr-hover);
}

.total-price{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
}

.buy-btn{
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    transition: 1s;
}
.buy-btn:hover{
    background: linear-gradient(90deg, rgba(255,254,255,1) 0%, rgba(0,41,252,1) 0%, rgba(255,0,0,1) 100%);
    color: var(--primary-clr);
}