.sign-up-wrapper{
    min-height: 95vh;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.sign-up-left>img{
    width: 500px;
}

.form-control>input::placeholder {
        color: black;
}

.sign-up.button-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}